* {
    margin: 0;
    padding: 0;
}

.myimage2 {
      height: 25px;
      width: 25px;
      position: absolute;
      right: 5px;
      bottom: 15px;

}

.mycontainer {
    width: 100%;
    margin: 0 auto;
}

.groupininfo {
    font-size:x-small;
    color: white;
}

.infoboxstyle {
    height: 150px;
    background: rgb(1,0,8);
    background: linear-gradient(180deg, rgba(1,0,8,1) 3%, rgba(25,25,54,1) 39%, rgba(54,57,57,1) 72%);
}

.card-horizontal {
  display: flex;
  flex: 1 1 auto;
}

.myfooter {
  bottom: 0;
}

.mfont {
  text-align: left;
}

.mfont p {
  text-transform: uppercase;
  font-family: cursive;
  margin: auto 0;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 2px;
}

.mfont2 {
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-family: rokkit;
  margin: auto 0;
}

.mfont3 {
  font-weight: bold;
  letter-spacing: 1px;
  font-family: rokkit;
  padding: 50px 0 0 0;
}

.mybottom {
	position:absolute;
  bottom:0;
}

.kindsandpic {
  display: inline-block;
  font-size: 9px;
}

.restaurantheader {
  text-align: center;
  text-transform: uppercase;
  background-color: orange;
  color: black;
  font-family: cursive;
}

.quantiti_kinds {
  font-size: 10px;
  text-align: right;
  position: absolute;
  right: 37px;
}