<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu</title>

    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='favicon-32x32.png') }}">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
	<style>
		.myimage {
			height: 150px;
			width: 150px;
			margin: auto 5px;
			border: 1px solid black;
			clear: both;
		}

		img:hover {
  			box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
		}

		.textcenter{
			text-align: center;
		}

		.mybottom{
			margin-bottom: 0px;
		}

	</style>
	<title>Меню</title>
</head>
<body>
	<div class="mycontainer">
		{% for group_name, values in data.recepidata.items() %}
			<h5 class="card-title textcenter mfont"><p>{{ group_name }}</p></h5>
			{% for info in values %}
			<div class="card">
				<div class="card-horizontal">
					<div class="img-square-wrapper">
						{% if info[2] != '' %}
							<img src="data:;base64,{{ info[2] }}" class="myimage" alt="...">
						{% else %}
							<img src="{{ url_for('static', filename='default.png') }}" class="myimage" alt="{{ data.rest_name[0] }}">
						{% endif %}
					</div>
					<div class="card-body infoboxstyle">
						{% if request.url[-3:] == 'all' %}
							<p class="groupininfo">{{ group_name|upper }} </p>
						{% endif %}
						<h6 class="card-title mfont2" style="color:orange"><small>{{ info[0] }}</small></h6>
						{# 
						{% if info[3] %}
							<p class="card-text" style="color:orange"><small><i>{{ info[3] }}</i></small></p>
						{% else %}
						
						{% endif %}
						#}
						
						<div class="mybottom">
						<p class="mfont3" style="background: #black; color: orange;"><small>{{ "%0.2f"|format(info[1]|float) }} лв</small></p>
						</div>
					</div>
				</div>
			</div>
			{% endfor %}
		{% endfor %}
	</div>
</body>
</html>
