<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu</title>

    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='favicon-32x32.png') }}">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
    <div class="mycontainer">
        <div class="row">
            <div class="col-md-2 col-md-offset-5">
                <div class="card" style="width: 100%;">
                  <ul class="list-group list-group-flush">
                        <li class="list-group-item mfont" style="background-color: #c0c0c0"><a href='{{ url_for("all_menu") }}' class="btn"><strong><p>ЗАРЕДИ МЕНЮТО</p></strong></a></li>
                    {% for group_name, gorup_id in data.items() %}
                        <li class="list-group-item mfont"><a href='{{ url_for("load_kinds", id=gorup_id) }}' class="btn"><p>{{ group_name }}</p></a></li>
                    {% endfor %}
                  </ul>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
