<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
	<style>
		.myimage {
			height: 150px;
			margin: 5px auto;
			display: block;
			border: 1px solid black;
			clear: both;
		}
		
		img:hover {
  			box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
		}

		.textcenter{
			text-align: center;
		}

		.mybottom{
			margin-bottom: 0px;
		}

	</style>
	<title>Меню</title>
</head>
<body>
	<div class="mycontainer">
		{% for group_name, values in data.items() %}
			<h5 class="card-title textcenter"><b>{{ group_name }}</b></h5>
			{% for info in values %}
			<div class="card">
				<div class="row no-gutters">
					<div class="col-sm-5" style="background: #868e96;">
						{% if info[2] != '' %}
							<img src="data:;base64,{{ info[2] }}" class="card-img-top mw-100 myimage" alt="...">
						{% else %}
							<img src="" class="card-img-top h-100" alt="Името на заведението">
						{% endif %}
					</div>
					<div class="col-sm-7">
						<div class="card-body">
							<h6 class="card-title">{{ info[0] }}</h6>
							{% if info[3] %}
								<p class="card-text">{{ info[3] }}</p>
							{% else %}

							{% endif %}
							<p class="mybottom" style="background: #868e96; color: white;"><strong>{{ info[1] }} лв</strong></p>
						</div>
					</div>
				</div>
			</div>
			{% endfor %}
		{% endfor %}
	</div>
</body>
</html>